force-app/main/default/flows/Software_Entitlement_Parse_and_Update_Zentitle_EntitlementModel_Sub_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>This will update and add all new attributes.</description>
        <name>Upsert_Attributes</name>
        <label>Upsert Attributes</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <actionName>UpsertRecordsAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Through_Features</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>Software_Attribute__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__results</typeName>
            <typeValue>Software_Attribute__c</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <targetReference>Set_Error_Message_Attributes_Upsert</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>externalIDField</name>
            <value>
                <stringValue>Zentitle_Attribute_ID__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>Var_Zentitle_Attribute_Collection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UpsertRecordsAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>This will create or update existing features.</description>
        <name>Upsert_Features</name>
        <label>Upsert Feature</label>
        <locationX>50</locationX>
        <locationY>1706</locationY>
        <actionName>UpsertRecordsAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Success_To_True</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>Software_Feature__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__results</typeName>
            <typeValue>Software_Feature__c</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <targetReference>Set_Error_Message_Feature_Upsert</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>externalIDField</name>
            <value>
                <stringValue>Zentitle_Feature_ID__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>Var_Features_Staging_Collection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UpsertRecordsAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>This adds the attribute to the collection to update outside of the loop</description>
        <name>Add_Attributes_To_Collection</name>
        <label>Add Attributes To Collection</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Var_Zentitle_Attribute_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_Software_Attribute_Build</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Attributes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This will add the feature to the collection to be created outside of the loop</description>
        <name>Add_Feature_To_Collection</name>
        <label>Add Feature To Collection</label>
        <locationX>402</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>Var_Features_Staging_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_Features_Build</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Features</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This will build the features to create outside of the loop</description>
        <name>Build</name>
        <label>Build Features</label>
        <locationX>402</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>Var_Features_Build.Software_Entitlement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_Software_Entitlement_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Features_Build.Feature_Key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Features.key</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Features_Build.Feature_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Features.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Features_Build.Feature_Used__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Features.used</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Features_Build.Feature_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Features.z0type.oneOfString</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Features_Build.Zentitle_Feature_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Features.id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Feature_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This will build the attributes to create outside of the loop</description>
        <name>Build_Attributes</name>
        <label>Build Attributes</label>
        <locationX>402</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Var_Software_Attribute_Build.Zentitle_Attribute_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Attributes.id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Software_Attribute_Build.Attribute_Key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Attributes.key</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Software_Attribute_Build.Attribute_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Attributes.z0type.oneOfString</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Software_Attribute_Build.Software_Entitlement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_Software_Entitlement_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Software_Attribute_Build.Attribute_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Attributes.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Attributes_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This passes the upsert error from the attributes upsert</description>
        <name>Set_Error_Message_Attributes_Upsert</name>
        <label>Set Error Message Attributes Upsert</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>Var_Error_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A Fault occured during the upsert of attributes: {!$Flow.FaultMessage}</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>This passes the upsert error from the features upsert</description>
        <name>Set_Error_Message_Feature_Upsert</name>
        <label>Set Error Message Feature Upsert</label>
        <locationX>314</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>Var_Error_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A Fault occured during the upsert of features: {!$Flow.FaultMessage}</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>This passes the record not passed in error message.</description>
        <name>Set_Error_Message_Record_Passed_In</name>
        <label>Set Error Message Record Passed In</label>
        <locationX>314</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>Var_Error_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The correct records were not passed in. Entitlement ID Missing ( {!Software_Entitlement_Record_ID_MIssing}) Entitlement body passed in ({!Zentitle_EntitlementModel_Passed_in})</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>This will set the success message to TRUE for the flow to pass back to the main flow.</description>
        <name>Set_Success_To_True</name>
        <label>Set Success To True</label>
        <locationX>314</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>Var_Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>This checks if there are attributes to create.</description>
        <name>Attributes_To_Create</name>
        <label>Attributes To Create?</label>
        <locationX>314</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Features</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Records Staged</defaultConnectorLabel>
        <rules>
            <name>Attributes_Are_Staged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_Zentitle_Attribute_Collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upsert_Attributes</targetReference>
            </connector>
            <label>Attributes Are Staged</label>
        </rules>
    </decisions>
    <decisions>
        <description>This checks if there are features to upsert to prevent errors.</description>
        <name>Features_To_Create</name>
        <label>Features To Create?</label>
        <locationX>314</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Set_Success_To_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Records Staged</defaultConnectorLabel>
        <rules>
            <name>Features_Are_Staged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_Features_Staging_Collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upsert_Features</targetReference>
            </connector>
            <label>Features Are Staged</label>
        </rules>
    </decisions>
    <decisions>
        <description>This validates that the variable was passed in.</description>
        <name>Was_Entitlement_Model_Passed_in</name>
        <label>Was Entitlement Model Passed in?</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Set_Error_Message_Record_Passed_In</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Record Passed In</defaultConnectorLabel>
        <rules>
            <name>Software_Entitlement_Record_ID_MIssing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_Software_Entitlement_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Error_Message_Record_Passed_In</targetReference>
            </connector>
            <label>Software Entitlement Record ID Missing</label>
        </rules>
        <rules>
            <name>Zentitle_EntitlementModel_Passed_in</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Zentitle_EntitlementModel</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Attributes</targetReference>
            </connector>
            <label>Zentitle_EntitlementModel Passed in</label>
        </rules>
    </decisions>
    <description>This flow is used to update the Software Entitlement and parse the values. This Flow MUST have a Zentitle_EntitlementModel apex defined variable passed in and is used to parse out all of the variables and record them into the various records.</description>
    <environments>Default</environments>
    <interviewLabel>Software Entitlement: Parse and Update Zentitle EntitlementModel {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Software Entitlement: Parse and Update Zentitle EntitlementModel (Sub-Flow)</label>
    <loops>
        <description>This will loop through the attributes and build them to upsert</description>
        <name>Loop_Through_Attributes</name>
        <label>Loop Through Attributes</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <collectionReference>Zentitle_EntitlementModel.attributes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Build_Attributes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Attributes_To_Create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>This will loop through features.</description>
        <name>Loop_Through_Features</name>
        <label>Loop Through Features</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <collectionReference>Zentitle_EntitlementModel.features</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Build</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Features_To_Create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Was_Entitlement_Model_Passed_in</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>This holds the error message when a fault occurs.</description>
        <name>Var_Error_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This is the build variable used to build the record to create outside of the loop.</description>
        <name>Var_Features_Build</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Software_Feature__c</objectType>
    </variables>
    <variables>
        <description>This holds the features that will be created outside of the loop</description>
        <name>Var_Features_Staging_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Software_Feature__c</objectType>
    </variables>
    <variables>
        <description>This holds the attribute that is being built in the loop.</description>
        <name>Var_Software_Attribute_Build</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Software_Attribute__c</objectType>
    </variables>
    <variables>
        <description>This is the software entitlement record ID that needs to be passed in</description>
        <name>Var_Software_Entitlement_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is set to true when the flow was successful</description>
        <name>Var_Success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>This holds the collection of attributes to update or insert</description>
        <name>Var_Zentitle_Attribute_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Software_Attribute__c</objectType>
    </variables>
    <variables>
        <description>This is the input variable for the entitlement model to parse and update the record</description>
        <name>Zentitle_EntitlementModel</name>
        <apexClass>ExternalService__Zentitle_EntitlementModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
