force-app/main/default/flows/Software_Entitlement_Sync_Updates_To_Zentitle.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <description>This will check if there are errors with the API call.</description>
        <name>Check_for_Errors_With_API_Call</name>
        <label>Check for Errors With API Call</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Record_Error_on_Software_Entitlement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fault Occured</defaultConnectorLabel>
        <rules>
            <name>Valid_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Push_Changes_to_Zentile.Var_Success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_To_Log_Sucessful_Sync</targetReference>
            </connector>
            <label>Valid Update</label>
        </rules>
    </decisions>
    <description>This will sync changes that are made in Salesforce to Zentitle. This will only run on specific changes to the record.</description>
    <environments>Default</environments>
    <interviewLabel>Software Entitlement: Sync Updates To Zentitle {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Software Entitlement: Sync Updates To Zentitle</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>This creates a task to log the error on the entitlement</description>
        <name>Create_Task_to_Log_Error</name>
        <label>Create Task to Log Error</label>
        <locationX>506</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>An Error Occured While Syncing an Update to Zentitle: {!Push_Changes_to_Zentile.Var_Error_Message}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>An Error Occured While Syncing a Software Entitlement Update to Zentitle at {!$Flow.CurrentDateTime}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>This creates a task to log the success on the entitlement</description>
        <name>Create_Task_To_Log_Sucessful_Sync</name>
        <label>Create Task To Log Sucessful Sync</label>
        <locationX>242</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Successful Push to Zentitle Triggered by Software Entitlement at {!$Flow.CurrentDateTime}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <description>This records the error on the Entitlement Record</description>
        <name>Record_Error_on_Software_Entitlement</name>
        <label>Record Error on Software Entitlement</label>
        <locationX>506</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Create_Task_to_Log_Error</targetReference>
        </connector>
        <inputAssignments>
            <field>Integration_Error_Occurred__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Entitlement_Seat_Count__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Maintenance_Expiry_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Software_Entitlement__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Push_Changes_to_Zentile</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>This runs the sub-flow to push changes to zentitle</description>
        <name>Push_Changes_to_Zentile</name>
        <label>Push Changes to Zentitle</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>Check_for_Errors_With_API_Call</targetReference>
        </connector>
        <flowName>Software_Entitlement_Push_changes_to_Zentile</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>This holds the default exception from the call</description>
        <name>DefaultException</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This holds the http callout response code from the call</description>
        <name>ResponseCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>This holds the request body</description>
        <name>Zentitle_UpdateEntitlementApiRequest</name>
        <apexClass>ExternalService__Zentitle_UpdateEntitlementApiRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
