force-app/main/default/flows/Software_Entitlement_Parse_and_Update_Zentitle_EntitlementModel_Sub_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>This will update and add all new attributes.</description>
        <name>Upsert_Attributes</name>
        <label>Upsert Attributes</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <actionName>UpsertRecordsAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Transform_Entitlement_To_Features</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>Software_Attribute__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__results</typeName>
            <typeValue>Software_Attribute__c</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <targetReference>Set_Error_Message_Attributes_Upsert</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>externalIDField</name>
            <value>
                <stringValue>Software_Attribute_External_ID__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>Transform_Entitlement_To_Attributes</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UpsertRecordsAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>This will create or update existing features.</description>
        <name>Upsert_Features</name>
        <label>Upsert Feature</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <actionName>UpsertRecordsAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Success_To_True</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>Software_Feature__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__results</typeName>
            <typeValue>Software_Feature__c</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <targetReference>Set_Error_Message_Feature_Upsert</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>externalIDField</name>
            <value>
                <stringValue>Software_Feature_External_ID__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>Transform_Entitlement_To_Features</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UpsertRecordsAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <description>This passes the upsert error from the attributes upsert</description>
        <name>Set_Error_Message_Attributes_Upsert</name>
        <label>Set Error Message Attributes Upsert</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Var_Error_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A Fault occured during the upsert of attributes: {!$Flow.FaultMessage}</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>This passes the upsert error from the features upsert</description>
        <name>Set_Error_Message_Feature_Upsert</name>
        <label>Set Error Message Feature Upsert</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>Var_Error_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A Fault occured during the upsert of features: {!$Flow.FaultMessage}</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>This passes the record not passed in error message.</description>
        <name>Set_Error_Message_Record_Passed_In</name>
        <label>Set Error Message Record Passed In</label>
        <locationX>314</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>Var_Error_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The correct records were not passed in. Entitlement ID Missing ( {!Software_Entitlement_Record_ID_MIssing}) Entitlement body passed in ({!Zentitle_EntitlementModel_Passed_in})</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>This will set the success message to TRUE for the flow to pass back to the main flow.</description>
        <name>Set_Success_To_True</name>
        <label>Set Success To True</label>
        <locationX>314</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>Var_Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>This checks if there are attributes to create.</description>
        <name>Attributes_To_Create</name>
        <label>Attributes To Create?</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Transform_Entitlement_To_Features</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Records Staged</defaultConnectorLabel>
        <rules>
            <name>Attributes_Are_Staged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transform_Entitlement_To_Attributes</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upsert_Attributes</targetReference>
            </connector>
            <label>Attributes Are Staged</label>
        </rules>
    </decisions>
    <decisions>
        <description>This checks if there are features to upsert to prevent errors.</description>
        <name>Features_To_Create</name>
        <label>Features To Create?</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Set_Success_To_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Records Staged</defaultConnectorLabel>
        <rules>
            <name>Features_Are_Staged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transform_Entitlement_To_Features</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upsert_Features</targetReference>
            </connector>
            <label>Features Are Staged</label>
        </rules>
    </decisions>
    <decisions>
        <description>This validates that the variable was passed in.</description>
        <name>Was_Entitlement_Model_Passed_in</name>
        <label>Was Entitlement Model Passed in?</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Set_Error_Message_Record_Passed_In</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Record Passed In</defaultConnectorLabel>
        <rules>
            <name>Software_Entitlement_Record_ID_MIssing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_Software_Entitlement_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Error_Message_Record_Passed_In</targetReference>
            </connector>
            <label>Software Entitlement Record ID Missing</label>
        </rules>
        <rules>
            <name>Zentitle_EntitlementModel_Passed_in</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Zentitle_EntitlementModel</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transform_Entitlement_To_Attributes</targetReference>
            </connector>
            <label>Zentitle_EntitlementModel Passed in</label>
        </rules>
    </decisions>
    <description>This flow is used to update the Software Entitlement and parse the values. This Flow MUST have a Zentitle_EntitlementModel apex defined variable passed in and is used to parse out all of the variables and record them into the various records.</description>
    <environments>Default</environments>
    <interviewLabel>Software Entitlement: Parse and Update Zentitle EntitlementModel {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Software Entitlement: Parse and Update Zentitle EntitlementModel (Sub-Flow)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Was_Entitlement_Model_Passed_in</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <description>This will take the entitlement and turn it into a collection of attributes to save into Salesforce as records.</description>
        <name>Transform_Entitlement_To_Attributes</name>
        <label>Transform Entitlement To Attributes</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Attributes_To_Create</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>Software_Attribute__c</objectType>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Zentitle_Attribute_ID__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Zentitle_EntitlementModel.attributes[$EachItem].id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Attribute_Key__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Zentitle_EntitlementModel.attributes[$EachItem].key</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Attribute_Value__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Zentitle_EntitlementModel.attributes[$EachItem].value</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Attribute_Type__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Zentitle_EntitlementModel.attributes[$EachItem].z0type.oneOfString</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Software_Entitlement__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Var_Software_Entitlement_ID</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Software_Attribute_External_ID__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>String</formulaDataType>
                    <formulaExpression>{!Var_Software_Entitlement_ID}+&quot;-&quot;+{!Zentitle_EntitlementModel.attributes[$EachItem].id}</formulaExpression>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <description>This will take the entitlement and turn it into a collection of features to save into Salesforce as records.</description>
        <name>Transform_Entitlement_To_Features</name>
        <label>Transform Entitlement To Features</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Features_To_Create</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>Software_Feature__c</objectType>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Feature_Key__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Zentitle_EntitlementModel.features[$EachItem].key</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Feature_Used__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Zentitle_EntitlementModel.features[$EachItem].used</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Feature_Value__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Zentitle_EntitlementModel.features[$EachItem].value</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Feature_Type__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Zentitle_EntitlementModel.features[$EachItem].z0type.oneOfString</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Zentitle_Feature_ID__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Zentitle_EntitlementModel.features[$EachItem].id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Software_Feature_External_ID__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>String</formulaDataType>
                    <formulaExpression>{!Var_Software_Entitlement_ID}+&quot;-&quot;+{!Zentitle_EntitlementModel.features[$EachItem].id}</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Software_Entitlement__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Var_Software_Entitlement_ID</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <description>This holds the error message when a fault occurs.</description>
        <name>Var_Error_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This is the software entitlement record ID that needs to be passed in</description>
        <name>Var_Software_Entitlement_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is set to true when the flow was successful</description>
        <name>Var_Success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>This is the input variable for the entitlement model to parse and update the record</description>
        <name>Zentitle_EntitlementModel</name>
        <apexClass>ExternalService__Zentitle_EntitlementModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
